body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

main {
    display: block;
    width: 25%;
    margin: 0 auto;
    text-align: center;
}


.form-add-user__notification {
    font-size: 12px;
}

.form-add-user__notification--success {
    color: green;
}